.main-container {
  background-image: url(../assets/Image/Jewelry-1.jpg);
  background-size: cover;
  height: 180vh;
}

.AboutContainer-2 {
  background-image: url(../assets/Image/Jewelry-3.jpg);
  background-size: cover;
  height: 110vh;
}

.AboutContainer-3 {
  background-image: url(../assets/Image/Jewelry-4.jpg);
  background-size: cover;
  height: 90vh;
  background-position: center;
}

